/* only style the main content area */
.main-content {
  /* background-color: #00c6ff; */
  padding: 7px;
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
}

.main-content .cards {
  height: 45%;
  /* background-color: #1a1a1a; */
  display: flex;
  /* gap: 5%; */
  flex-direction: row;
  align-items: flex-start;
  /* background-color: #ff2727; */
}

#data-card{
  width: 45%;
  margin-left: 10%;
}

.cards > .card-small {
  padding: 15px 0;
  /* border: 1px solid #ffffff; */
}

.main-content #greet p {
  font-size: xx-large;
  font-weight: 700;
  color: #4b4b4b;
}

.main-content #greet p span {
  font-size: 3.5vw;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
  font-weight: bolder;
}

.main-content .bot-card{
  height: 100%;
  width: 25%;
  /* background-color: #00c6ff; */
  position: relative;
}

.main-content .bot-card .over{
  bottom: 0;
  right: 0;
  position: absolute;
  height: 57px;
  z-index: 10;
  width: 70%;
  background-color: #f7fafc;
}
 
.main-content > .card-large {
  /* background: #e96464; */
  grid-column: 1 / -1;
  height: 50%;
}


.gradient-text {
  /* create a big blue gradient that can move */
  background: linear-gradient(270deg, #00c6ff, #0072ff, #00c6ff);
  background-size: 400% 400%;

  /* clip the background to the text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  /* animation */
  animation: gradientFlow 10s ease infinite;
  display: inline-block; /* needed for background-clip to behave */
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
