/* Expense.css */
.expense-card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 14px;
  backdrop-filter: blur(16px);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;

}

.header {
  font-weight: 700;
  font-size: 14px;
  opacity: 0.95;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expense-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 12px;
  padding: 12px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 0;
}

.thumb {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  display: grid;
  place-items: center;
}

.thumb-icon {
  font-size: 18px;
}

.texts {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.title {
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub {
  font-size: 12px;
  opacity: 0.8;
}

.right {
  /* text-align: right; */
  display: flex;
  gap: 5px;
  align-items: center;

}

.amt {
  font-weight: 800;
  font-size: 20px;
}

.cat {
  font-size: 12px;
  opacity: 0.8;
}

.delete-btn {
  font-size: 20px;
  color: rgb(225, 63, 63);
  padding: 2px;
  transition: all 0.3s ease-in-out;

}

.delete-btn:hover {
  background-color: rgba(210, 209, 209, 0.575);
  transform: translateY(-5px);
  color: #D20103;

}